/*Pour faire la 1er image qui prend toute la hauteur*/
body, html {
 height: 100%;
 margin: 0;
}
#imgPresentation { /*https://www.w3schools.com/howto/howto_css_full_page.asp*/
 /* The image used */
 background-image: url("../images/devanture.jpg");

 /* Full height */
 height: 85%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

/*Pour la carte*/
#mapid {
  height : 500px;
}

/*Pour les images de nouritture*/
#cartesPresentationFood .card.small /*les classe carte ET petite taille dans l'id cartesPresentationFood*/
{/*TODO remplacer les images holder*/
  height: 213px; /*taille verticale hard codé de façon temporaire le temps de remplacer les images holder*/
}
#cartesPresentationFood .card.small .card-image { /* les classes C enfant des classes B enfant de l'id A*/
  max-height : 100%;
}

span.card-title h2 { /*les balises h2 enfant de balise span ayant pour class card-title*/
  margin-top: 0px;
}

/*Pour pouvoir voir les titres dans les petites images de nouritture*/
div#cartesPresentationFood /*div.col div.card div.card-image span.card-title*/ {
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: 1px 1px #000000;
}

/*Pour décaler les heures d'ouvertures à droite*/
#horaires tr td:nth-child(even){
  text-align: right;
  padding-right: 10px;
}
