/*Pour faire la 1er image qui prend toute la hauteur*/
body, html {
 height: 100%;
 margin: 0;
}
#imgPresentation { /*https://www.w3schools.com/howto/howto_css_full_page.asp*/
 /* The image used */
 background-image: url("../images/devanture.jpg");

 /* Full height */
 height: 99%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
/*Pour faire la 1er image qui prend toute la hauteur*/


body {
  background-color: #d69696;
}
span.card-title h2 { /*les balises h2 enfant de balise span ayant pour class card-title*/
  margin-top: 0px;
}


/*Pour intégrer la carte*/
#mapid {
  height : 500px;
}
.leaflet-top.leaflet-left, .leaflet-bottom.leaflet-right {
  z-index: 996;
}
#lieu .card-content {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
/*Pour la carte*/

/*Pour les images de nouritture*/
#cartesPresentationFood .card.small /*les classe carte ET petite taille dans l'id cartesPresentationFood*/
{/*TODO remplacer les images holder*/
  height: 213px; /*taille verticale hard codé de façon temporaire le temps de remplacer les images holder*/
}
#cartesPresentationFood .card.small .card-image { /* les classes C enfant des classes B enfant de l'id A*/
  max-height : 100%;
}
/*Pour pouvoir voir les titres dans les petites images de nouritture*/
div#cartesPresentationFood /*div.col div.card div.card-image span.card-title*/ {
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: 2px 2px #000000;
}
/* Pour les images de nouritture */

/*Info*/
#info>div.col {
  padding-left: 0px;
  padding-right: 0px;
}
/*Info*/
#info div:first-child>div.col {
  padding-left: 0px;
}
/*Horaires*/
/*Pour décaler les heures d'ouvertures à droite*/
#horaires tr td:nth-child(even){
  text-align: right;
  padding-right: 10px;
}
/*Pour décaler les jours de la semaine du bord*/
#horaires tr td:nth-child(odd){
  padding-left: 10px;
}
/*Les éléments en case sombres sont écrit en clair*/
#horaires tr:nth-child(even){
  color: #ffff;
}
#horaires blockquote {
  color: #ffff;
}
/*Horaires*/

/*Tarif*/
/*Pour décaler les heures d'ouvertures à droite*/
#tarif tr td:nth-child(even){
  text-align: right;
  padding-right: 10px;
}
/*Pour décaler les jours de la semaine du bord*/
#tarif tr td:nth-child(odd){
  padding-left: 10px;
}
#tarif tr th:nth-child(even){
  text-align: right;
  padding-right: 30px;
}
#tarif tr th:nth-child(odd){
  padding-left: 30px;
}
/*Tarif*/

/*Pour que les cards aient la même taille*/
/*.flex {
  display: flex;
  flex-wrap: wrap;
}*/

/* Rubriques Services */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#services img { /* item contained */
  height: 64px;
  order: 0; /* default value, flex related attribute */
}

#services .container {
  position: relative; /* Pour mettre le titre en fond */
  display: flex;
  flex-direction: row; /* default value, added just for sanity */
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: auto;
}
/* Rubriques Services */

/* Pour mettre le titre en fond */
#services span.card-title { /* https://stackoverflow.com/questions/1191464/is-there-a-way-to-use-use-text-as-the-background-with-css */
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: 0;
   overflow: hidden;
   margin-bottom: 0px;
}

#services h2 { /* https://stackoverflow.com/questions/14061228/remove-white-space-above-and-below-large-text-in-an-inline-block-element */
  font-size: 16rem;
  line-height: 4rem;
}
/* Pour mettre le titre en fond */

/*Contact*/
#contact h3 {
  height: 1rem;
}
#contact ul, #contact li:nth-child(-n+2) {/*Les 2 premiers*/
  height: 4rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#contact h3 {
  margin-top: 5px;
}

/*Pour que les îcones Materialize CSS soit "aligné" avec le texte*/
i {
  vertical-align: middle; /* https://developer.mozilla.org/fr/docs/Web/CSS/vertical-align https://stackoverflow.com/questions/18772154/white-space-at-top-of-page */
}
/*Contact*/

/*Méthodes de Paiements*/
/*Pour la taille du carousel match*/
.carousel {
  height: 295px; /*TODO; marche pas pour l'instant*/
}

/*Le menu des plats*/
#menuCarte ul.tabs {
  border-top-style: solid;
  border-width: 1px;
}
#menuCarte h3 {
  margin-top: 0px;
}
#menuCarte>div {
  padding-left: 0px;
  padding-right: 0px;
}
/*Le menu des plats*/

/*Pour la nav bar*/
#nav-mobile li a {
  font-size: 1.9rem;
  line-height: 1.3rem;
  color: white;
}
.nav-wrapper h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.9rem;
  line-height: 100%;
  text-align: center;
}
.nav-wrapper .brand-logo {
  height: 100%;
}
@media screen and (min-width: 404px) {
  .nav-wrapper h1  {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 601px) {
  .nav-wrapper h1  {
    margin-top: 1.3rem;
  }
}
@media screen and (min-width: 601px) {
  .nav-wrapper h1  {
    margin-left: 30px;
  }
}
/*Pour la nav bar*/
/*Menu Burger*/
#menuBuger {
  position: fixed;
  color: White;
  right: 7vw;
}
#menuBurgerImg {
  font-size: 56px;
}
@media screen and (min-width: 601px) {
  #menuBurgerImg {
    font-size: 64px;
  }
}
/*Menu Burger*/

/*Pour la rubrique Histoire*/
#histoire .card-image.show-on-small {
  margin-left: auto;
  margin-right: auto;
}

/*Footer*/
footer.page-footer h2 {
  margin-top: 1.373rem;
}
footer i.material-icons {
  margin-right: 5px;
}
